.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.destination-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 2rem !important;
    padding: 0 !important;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.destination-item {
    border: 1px solid grey;
}

.destination-content {
    display: flex;
    justify-content: center;
}

.title-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.action-btns {
    display: inline-flex;
    justify-content: space-evenly;
}
